* {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #e69191;
}

h1 {
  background-color: rgb(105, 2, 2);
  color: white;
  height: 5rem;
  line-height: 5rem;
}

.choice {
  height: 200px;
  width: 200px;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  object-fit: cover;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 4rem;
}

.choice:hover {
  opacity: 0.5;
  cursor: pointer;
}

.scoreBoard {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  gap: 2rem;
  margin-top: 2rem;
}

#user-score,
#comp-score {
  font-size: 4rem;
}

.msg-container {
  margin-top: 2rem;
}

#msg {
  font-size: 2rem;
  display: inline;
  background-color: #002c8a;
  color: whitesmoke;
  padding: 0.5rem;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#msg:hover{
    cursor: pointer;
    background-color: #040036;
}